/* @font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('~@/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('~@/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('~@/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2');
} */
